<form [formGroup]="form" class="flex flex-column gap-4">

    <p-panel header="Header">
        <div class="formgrid grid">
            <div class="field col">
                <label for="serviceName">Service Name (EN)</label>
                <input id="serviceName" class="w-full" formControlName="serviceName" pInputText />
            </div>
            <div class="field col">
                <label for="serviceNameAr">Service Name (AR)</label>
                <input id="serviceNameAr" class="w-full" formControlName="serviceNameAr" pInputText />
            </div>

            <div class="field col">
                <label for="type">Service Type</label>
                <input id="type" class="w-full" formControlName="type" pInputText />
            </div>
        </div>
        <p-divider type="solid" />
        <div class="formgrid grid">
            <div class="field col">
                <label for="code">Service Code</label>
                <input id="code" class="w-full" formControlName="code" pInputText />
            </div>
            <div class="field col">
                <label for="price">Price List</label>
                <input id="price" class="w-full" formControlName="price" pInputText />
            </div>
        </div>
    </p-panel>
    <p-panel header="Service Description">
        <div class="field col">
            <label for="descriptionAr">Service Arabic Description</label>
            <!-- <input id="descriptionAr" class="w-full" formControlName="descriptionAr" pInputText /> -->
            <textarea rows="1" cols="30" id="descriptionAr" [autoResize]="true" pInputTextarea class="w-full"
                formControlName="descriptionAr">
            </textarea>
        </div>
        <p-divider type="solid" />
        <div class="field col">
            <label for="descriptionEn">Service English Description</label>
            <textarea rows="1" cols="30" class="w-full" id="descriptionEn" [autoResize]="true" pInputTextarea
                class="w-full" formControlName="descriptionEn">
            </textarea>
        </div>
    </p-panel>
    <p-panel header="VAT Information">
        <div class="formgrid grid">

            <div class="field col">
                <label for="vattable">Has VAT?</label>
                <input id="vattable" class="w-full" formControlName="vattable" pInputText />
            </div>
            <div class="field col">
                <label for="vatValue">VAT (%)</label>
                <input id="vatValue" class="w-full" formControlName="vatValue" pInputText />
            </div>
        </div>
    </p-panel>
    <div class="flex justify-content-between">
        <p-button class="align-self-end" [outlined]="true" [routerLink]="['/service-management']">
            <i class="pi pi-chevron-left mr-2"></i> Back
        </p-button>
        <p-button type="submit" class="align-self-end" *ngIf="operationType === 'edit' || operationType == 'new'">
            {{operationType === 'edit' ? 'Edit':'Add'}} Service
        </p-button>
    </div>
</form>