@layer reset {
    .p-datatable {
        border-collapse: collapse;
    }

    .p-datatable tbody td,
    th {
        padding: 1rem;
    }

    .p-datatable tbody tr td {
        border-bottom: 1px solid var(--color-primary-10);
    }

    .p-datatable thead th {
        text-align: left;
        border-bottom: 2px solid var(--color-primary-50);
        color: var(--color-primary-300);
        font-weight: 500;
        background-color: var(--color-secondary-100);
    }

    .p-datatable thead tr {
        background-color: var(--color-primary-100);
    }

    .p-inputtext {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    .p-inputgroup-addon {
        background: none;
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    .p-dropdown {
        min-height: 2.5rem;
        border-radius: var(--border-radius);
    }

    .p-button.p-button-link:not(:disabled):focus {
        box-shadow: none;
    }

    .p-button {
        background: var(--color-text-blue);
        border: 1px solid var(--color-text-blue);
        padding: 1rem 1.5rem;
        font-weight: 500;
    }

    .p-button.p-button-outlined {
        background: none;
        color: var(--color-text-blue);
    }

    .p-button.p-button-link {
        color: var(--color-primary-300);
        background: none;
        border: none;
        padding: 0.5rem 1rem;
        font-weight: 400;
    }

    .p-dropdown-label.p-placeholder {
        color: var(--color-placeholder-400);
        /* Your desired color */
    }

    .p-link:disabled {
        display: none;
    }

    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        background-color: var(--color-text-blue);
        color: var(--color-secondary-100);
    }

    .p-paginator .p-paginator-pages .p-paginator-page {
        border: 1px solid var(--color-primary-50);
    }

    .p-paginator .p-paginator-first,
    .p-paginator .p-paginator-prev,
    .p-paginator .p-paginator-next,
    .p-paginator .p-paginator-last {
        border: 1px solid var(--color-primary-50);
    }

    span.p-paginator-pages {
        margin: 0 10px 0 10px;
    }

    .p-panel .p-panel-header {
        background-color: var(--color-primary-500);
        background-image: url("/assets/images/pattren-mini.svg");
        /* Add your SVG file path here */
        background-repeat: no-repeat;
        /* Prevents the image from repeating */
        background-position: right top;
        /* Centers the SVG in the sidebar */
        background-size: 37px auto;
        border: 1px solid var(--color-primary-400);
        border-bottom: none;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        color: var(--color-primary-300);
    }

    .p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-icon {
        display: none;
    }

    .p-breadcrumb {
        border: none;
        font-size: 14px;
        font-weight: 400;
    }
}